.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
      }
      .form-signin .checkbox {
        font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          font-size: 16px;
          height: auto;
          padding: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
                                 }
                                 .form-signin .form-control:focus {
                                   z-index: 2;
                                   }
                                   .form-signin input[type="text"] {
                                     margin-bottom: -1px;
                                     border-bottom-left-radius: 0;
                                     border-bottom-right-radius: 0;
                                         }
                                         .form-signin input[type="password"] {
                                           margin-bottom: 10px;
                                           border-top-left-radius: 0;
                                           border-top-right-radius: 0;
                                               }
body {
  font-family: Helvetica;
 }
 h1 {
   text-align: center;
}
.toolbar {
  text-align: center;
 }
 #roster {
   width: 500px;
   margin: auto;
   border: solid 1px black;
    }
    .hidden {
      display: none;
     }
     .contact {
       padding: 10px;
      }
      .name {
        font-size: 150%;
        font-weight: bold;
        }
        .jid {
          font-size: 80%;
          font-style: italic;
          }
          .online {
            background-color: #7f7;
           }
           .away {
             background-color: #f77;
            }
            .offline {
              background-color: #777;
             }
li.active {
background-color:green;
}
li.inactive {
background-color:gray;
}
